---
---
<!DOCTYPE html>
<html>
  <head>
    <title>SAILING REPORT</title>
    <meta charset="utf-8">
    <link href = "/style/common.css" rel = "stylesheet">
    <link href = "/style/main.css" rel = "stylesheet">
    <style>
     {% include font.html %}
    </style>
  </head>
  <body>
    {% include banner.html %}
    <div style = "display:flex; justify-content: center;">
    <div class = "central_box">
      <div class = "introduce_box border1">
          <div style = "padding-left:25px; padding-right:25px;">
            <h3> KWONWOO </h3>
            <p>
              I am interested in Computer Graphics & Vision <br>
              <a href = "./CV" target="_blank" >📃CV</a>
              <a href = "https://www.youtube.com/channel/UC9L3_DvLL0NlN0UCKupiKhQ">🎥Youtube</a>
            </p>
        </div>
    </div>
    <div style = "display: flex; justify-content: center; padding:0.5rem;" class ="border1">
      <a class="twitter-timeline" data-width="350" data-height="220" href="https://twitter.com/kwonwoo___?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>    </div>
    </div>
    <div style = "display:flex; margin-left:25px;">
      <div class = "group border1">
      <h3>Recent Posts</h3>
      <ul>
          {% for post in site.posts %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
        <p style ="float:right; font-weight: bold;"><a href = "ARTICLES/">more post...</a></p>
      </div>
    </div>
    </div>
    {% include footer.html %}
  </body>
</html>