<!doctype html>
<html lang="en">
  <head>
    <link href = "/style/common.css" rel = "stylesheet">
    <link href = "/style/article.css" rel = "stylesheet">
    <style>
      {% include font.html %}
     </style>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {% include banner.html %}
    <h1>{{ page.title }}</h1>
    <P>written by {{site.github_username}}</P>
    <section>
      {{ content }}
    </section>
    {% include footer.html %}
  </body>
</html>